# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# MPLAB X IDE (Netbeans) specific
**/*.X/~*.*
**/*.X/build/
**/*.X/debug/
**/*.X/dist/
**/*.X/disassembly/
**/*.X/nbproject/private/
**/*.X/nbproject/*.mk
**/*.X/nbproject/*.bash
**/*.X/nbproject/Makefile-genesis.properties
**/out_usb_bridge_dell_fw/
**/*.X/nbproject/*.bin

# For MPLAB v5.45 & MHC v3.6.0
**/*.X/.generated_files

# for VSCODE
**/*.vscode/
**/*.vs

# for ceedling
**/firmware/build/
**/*.out

# for MISRA check
**/*.html

# KDE specific
.directory

# Misc
.svn
*.bak
*.dump
*.ctu-info
**/*.d
firmware/cppcheck-addon-ctu-file-list

# Harmony Content Manager may get into harmony folder if someone tries to run it.  We don't want it.
harmony/contentmanager/
harmony/content_manager_artifacts/
harmony.hcm-settings.xml